<html>
<head>
  
</head>
<body>
  <div class='main'>
    <div class='logo_area'>
      <div class='logo_setting_area'>
        <%= link_to image_tag("pcr.logo.png", class:"pcr-logo"), "/" %>
        <img id="setting-logo" src="assets/setting.logo.png"  />
          <ul class="show-lists hidden"  id="pull-down">
            <li class="pull-down-list"><a href="/categories/new">カテゴリー追加</a></li>
            <li class="pull-down-list"><a href="/items/new">商品追加</a></li>
          </ul>
      </div>
    </div>

    <div class='menu_total_area'>

      <div class='list_total_pay_area'>
        <div class='total_area'>
          <div class='list'>
            <%# <% @items.each do |item| %>
              <%# <li> %>
                <%# <%= link_to "#{item.item_name}", "items/#{item.id}"%>

                <%# <%= link_to "#{item.price} 円", "items/#{item.id}" , id: "itemPrice" %>

                <%# <select id="jsNum">
                  <option data-num="0" value="0個" selected>0個</option>
                  <option data-num="1" value="1個">1個</option>
                  <option data-num="2" value="2個">2個</option>
                  <option data-num="3" value="3個">3個</option>
                </select> %>
                <%# <%= link_to " 削除 ", item_path(item.id),id: "itemdeleteBtn", method: :delete %>
              <%# </li> %>
            <%# <% end %>
          </div>
          <div class='total'>
            <span> 合計金額
              <span id='total_price'></span>  円
            </span>
            <%# forEachが使えそう！！！ %>
            
            <%# <span> 内消費税
              <span id='add-tax-price'></span>  円
            </span> %>
          </div>
          <div class='pay'>
          </div>
        </div>
      </div>

      <div class='menu_area'>
        <form>
          <input type="text" id="search_bar" placeholder="検索ワードを入力">
        </form>

        <%# <div class="search-result">
          <div class="search-result__hit-num"></div>
          <div id="search-result__list"></div>
        </div>
      </div>

      <ul class="target-area">
        <li>りんご120円</li>
        <li>ばなな100円</li>
        <li>みかん150円</li>
        <li>いちご220円</li>
        <li>すいか500円</li>
      </ul>
    </div><!-- /.wrapper -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> %>
        <div class='category_menu_area'>
          <div class='category'>

            <%= render "categories/category" %>
          
          </div>
          <div id='menu'>

            <%= render "items/item" %>
            
          </div>
        </div>
      </div>
    
    </div>

  </div>
</body>
</html>

