<div class="new_main">
  <div class='new_logo_area'>
    <%= link_to image_tag("pcr.logo.png", class:"new_pcr-logo"), "/" %>
  </div>

  <div class="item_form_area">

    <%= form_with model: @item, class: "item_form", local: true do |f| %>

    <%= f.collection_select :category_id, Category.all, :id, :category_name, class: 'category_pulldown' %>
    <%= f.text_field :item_name, class:"item_text", id:"item-name", placeholder:"商品名　（必須）", maxlength:"10" %>
    <%= f.text_field :price, class:"item_price", id:"item-price", placeholder:"税込価格（必須）", maxlength:"10" %>
    <%# <span>
      <span id='add-tax-price'></span>円
    </span> %>

  </div>
  <%= f.submit "追加" ,class:"add-btn" %>
</div>
<% end %>
